{
  "presets": [
    ["env", {
      "targets": {
        "uglify": true
      },
      "useBuiltIns": true
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["transform-react-jsx", { "pragma":"h" }],
    ["react-css-modules",{
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss", 
          "plugins": [
            "postcss-nested"
          ]
        }
      },
      "generateScopedName":"[local]__[hash:base64:5]"
    }]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
 